
:root {
    --color-black: #333333;
    --color-yellow: #FFE600;
    --color-blue: #3483FA;
    --color-white: #ffffff;
    --color-gray1: #999999;
    --color-gray2: #EEEEEE;
    --color-gray3: #666666;
  }

$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;
$monserrat-sans: 'Montserrat', sans-serif;
