header {
    padding: 10px;
    text-align: center;
    background: var(--color-yellow);;
    color: var(--color-white);
    h1 {
        font-size: 40px;
      }
    .nav-logo {
      background-repeat: no-repeat;
      background-image: url('../../assets/images/Logo_ML.png');
      position: absolute;
      top: 23px;
      left: 150px;
      background-position: center;
      background-clip: border-box;
      transition: background-size 0.2s;
      width: 106px;
      height: 37px;
      text-decoration: none;
      cursor: pointer;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;

    }

    @media screen and (max-width: 1200px) {
      .nav-logo {     
        left: 10px;
      }
    }
}


  

  
  
 