.Results {
    width: 1184px;
    background-color: var(--color-white);
    border-radius: 3px;
    border: solid 1px color var(--color-gray1);
    margin-top: 16px;
    .section{
        border-bottom: 1px solid var(--color-gray2);
        padding: 3px;

        .detail-info{
            margin: 30px 0 0 0;
            .title {
                margin: 15px 0 0 0;
                h2 {
                    color: var(--color-gray1);
                    font-size: 20px;
                };
            }
            .price {
                p{
                    color: var(--color-gray3);
                    font-size: 25px;
                }
            }
        }
        .image-container{
            margin-left: 10px;
        }
        .shipping{
            margin: 50px 0 0 30px;
            p{
                color: var(--color-gray3);
                font-size: 15px;
            }
        }
        
    }
}